body {
    background-color: rgb(111, 188, 240);
}

a {
  color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; 
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.col-md-6 {
    margin-top: 20px;
}

.h-100 {
    background-size: cover;
}
